#info {
    width: 100%;
    border-right: 1px solid gainsboro;
}

#log {
    width: 100%;
    background-color: rgb(56, 134, 89);
}

#logoGua {
    display: block;
    margin: auto;
}

#loginFondo {
    width: 90%;
    display: block;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.MuiFormControl-root {
    width: 95% !important;
}

.noCuenta {
    text-align: center;
    color: white;
    margin-top: 10px;
    width: 100%;
    display: block;
    margin: auto;
}

.noCuenta:hover {
    color: blue;
}